In [317]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [318]:
df = pd.read_csv('StudentsPerformance.csv')

In [319]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [320]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [321]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [322]:
# sns.swarmplot(y = 'writing score', x = 'gender' , data = df )

In [323]:
# sns.countplot(x = 'parental level of education', data = df, hue = 'gender')

In [324]:
parents_classes = ['bachelor', 'masters', 'college', 'masters', 'some high', 'assosiate']
race_classes = ['A', 'B', 'C', 'D', 'E']
gender_classes = {'male' : 0, 'female' : 1}
lunch_classes = {'free/reduced' : 0, 'standard' : 1}
preparation_classes = {'none' : 0, 'completed' : 1}


df[parents_classes] = pd.get_dummies(df['parental level of education'], columns = parents_classes)
df[race_classes] = pd.get_dummies(df['race/ethnicity'], columns = race_classes)
df['gender'] = df['gender'].map(gender_classes)
df['lunch'] = df['lunch'].map(lunch_classes)
df['test preparation course'] = df['test preparation course'].map(preparation_classes)

df['math score'] /= 100
df['reading score'] /= 100
df['writing score'] /= 100

df2 = df.drop(['race/ethnicity', 'parental level of education', 'gender', 'lunch'], axis = 1)
y = df['gender']
df2.head()

   test preparation course  math score  reading score  writing score
0                        0        0.72           0.72           0.74
1                        1        0.69           0.90           0.88
2                        0        0.90           0.95           0.93
3                        0        0.47           0.57           0.44
4                        0        0.76           0.78           0.75

In [325]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [326]:
X_train, X_test, y_train, y_test = train_test_split(df2, y, test_size = 0.2, random_state = 1)

In [327]:
model = LinearRegression()

In [328]:
model.fit(X_train, y_train)

LinearRegression()

In [329]:
prediction = model.predict(X_test)

In [330]:
threshold = 0.5

    for i in range(len(prediction)):
        if prediction[i] > threshold:
            prediction[i] = 1
        else:
            prediction[i] = 0

In [331]:
prediction

array([0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0.,
       1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1.,
       1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0.,
       1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0.,
       1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0.,
       1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0.,
       1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0.])

In [332]:
df2.head()

   test preparation course  math score  reading score  writing score
0                        0        0.72           0.72           0.74
1                        1        0.69           0.90           0.88
2                        0        0.90           0.95           0.93
3                        0        0.47           0.57           0.44
4                        0        0.76           0.78           0.75

In [333]:
model.coef_

array([-0.21734924, -3.9343393 ,  0.24929439,  4.1446759 ])

In [334]:
coeff_df = pd.DataFrame(model.coef_, df2.columns ,columns=['Coefficent'])
coeff_df

                         Coefficent
test preparation course   -0.217349
math score                -3.934339
reading score              0.249294
writing score              4.144676

In [335]:
float(model.coef_[-1])

4.1446759012177985

In [336]:
a = (prediction != y_test)*1 
a

507    0
818    0
452    0
368    0
242    1
      ..
430    0
874    0
550    0
608    0
207    0
Name: gender, Length: 200, dtype: int32

In [337]:
summa = sum(a)
summa

19

In [338]:
print((len(prediction) - summa)/len(prediction))

0.905

In [339]:
model.coef_

array([-0.21734924, -3.9343393 ,  0.24929439,  4.1446759 ])

In [340]:
TP = sum((prediction == y_test)*1)
FP = sum(((prediction == 1) & (prediction != y_test)*1))

In [341]:
print(TP, FP)

181 11

In [342]:
print(TP/(TP + FP))

0.9427083333333334